## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ouadda,8.0777,22.4007,74.30,23,15,7.70,CF,2021-12-09 22:57:41
1,1,Vanimo,-2.6741,141.3028,81.68,81,97,3.04,PG,2021-12-09 22:57:41
2,2,Dikson,73.5069,80.5464,-25.38,98,18,4.63,RU,2021-12-09 22:57:42
3,3,Ushuaia,-54.8000,-68.3000,56.86,44,20,27.63,AR,2021-12-09 22:52:57
4,4,Constitucion,-35.3333,-72.4167,61.56,80,13,5.64,CL,2021-12-09 22:57:42

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ouadda,8.0777,22.4007,74.30,23,15,7.70,CF,2021-12-09 22:57:41
4,4,Constitucion,-35.3333,-72.4167,61.56,80,13,5.64,CL,2021-12-09 22:57:42
6,6,Lompoc,34.6391,-120.4579,61.57,70,40,13.00,US,2021-12-09 22:57:43
8,8,Sao Felix Do Xingu,-6.6447,-51.9950,74.53,95,100,2.13,BR,2021-12-09 22:57:43
9,9,Mar Del Plata,-38.0023,-57.5575,70.09,88,0,7.00,AR,2021-12-09 22:53:13
10,10,Taoudenni,22.6783,-3.9836,67.48,11,100,10.87,ML,2021-12-09 22:57:44
11,11,Kaitangata,-46.2817,169.8464,63.93,52,24,6.31,NZ,2021-12-09 22:57:44
14,14,Port Alfred,-33.5906,26.8910,70.38,91,33,8.19,ZA,2021-12-09 22:57:45
15,15,Cape Town,-33.9258,18.4232,68.11,80,20,4.00,ZA,2021-12-09 22:57:45
17,17,Pacific Grove,36.6177,-121.9166,60.87,70,40,1.01,US,2021-12-09 22:56:44

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       262
City          262
Lat           262
Lng           262
Max Temp      262
Humidity      262
Cloudiness    262
Wind Speed    262
Country       258
Date          262
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ouadda,8.0777,22.4007,74.30,23,15,7.70,CF,2021-12-09 22:57:41
4,4,Constitucion,-35.3333,-72.4167,61.56,80,13,5.64,CL,2021-12-09 22:57:42
6,6,Lompoc,34.6391,-120.4579,61.57,70,40,13.00,US,2021-12-09 22:57:43
8,8,Sao Felix Do Xingu,-6.6447,-51.9950,74.53,95,100,2.13,BR,2021-12-09 22:57:43
9,9,Mar Del Plata,-38.0023,-57.5575,70.09,88,0,7.00,AR,2021-12-09 22:53:13
10,10,Taoudenni,22.6783,-3.9836,67.48,11,100,10.87,ML,2021-12-09 22:57:44
11,11,Kaitangata,-46.2817,169.8464,63.93,52,24,6.31,NZ,2021-12-09 22:57:44
14,14,Port Alfred,-33.5906,26.8910,70.38,91,33,8.19,ZA,2021-12-09 22:57:45
15,15,Cape Town,-33.9258,18.4232,68.11,80,20,4.00,ZA,2021-12-09 22:57:45
17,17,Pacific Grove,36.6177,-121.9166,60.87,70,40,1.01,US,2021-12-09 22:56:44

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)
df = DataFrame()

NameError: name 'preferred_cities_clean_df' is not defined

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
      lat = row["Lat"]
      lng = row["Lng"]
      params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
      base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
      hotel = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
      try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
      except (IndexError):
        print("Hotel not found... skipping.")

In [ ]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
hotel_df = hotel_df.dropna()
hotel_df.head(10)
hotel_df

In [ ]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
df=hotel_df
hotel_df.to_csv(output_data_file, index_label="City_ID")
df

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd> </dd>and<dd>{Max Temp} °F</dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig