In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Barrow,71.2906,-156.7887,21.22,79,40,13.80,US,2021-12-07 01:21:10
1,1,Kavaratti,10.5669,72.6420,80.10,66,5,10.40,IN,2021-12-07 01:28:16
2,2,Atuona,-9.8000,-139.0333,79.12,68,0,18.32,PF,2021-12-07 01:21:11
3,3,Vaini,-21.2000,-175.2000,80.76,89,75,11.50,TO,2021-12-07 01:21:12
4,4,Bocaiuva,-17.1078,-43.8150,67.71,90,100,2.77,BR,2021-12-07 01:28:17

In [3]:
# Get the data types 
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:



# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
                                 
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.


locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
                                 
# Add the heatmap layer.
fig.add_layer(heat_layer)

#weights = ["wind"]


#wind = city_data_df["wind_speed"] 


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Kavaratti,10.5669,72.6420,80.10,66,5,10.40,IN,2021-12-07 01:28:16
2,2,Atuona,-9.8000,-139.0333,79.12,68,0,18.32,PF,2021-12-07 01:21:11
3,3,Vaini,-21.2000,-175.2000,80.76,89,75,11.50,TO,2021-12-07 01:21:12
4,4,Bocaiuva,-17.1078,-43.8150,67.71,90,100,2.77,BR,2021-12-07 01:28:17
5,5,Rikitea,-23.1203,-134.9692,76.60,71,33,8.66,PF,2021-12-07 01:21:18
6,6,Hithadhoo,-0.6000,73.0833,82.09,76,100,17.31,MV,2021-12-07 01:21:09
7,7,Chau Doc,10.7000,105.1167,72.82,75,39,8.81,VN,2021-12-07 01:28:17
8,8,Tessalit,20.1986,1.0114,66.31,20,88,9.46,ML,2021-12-07 01:28:17
11,11,Aswan,24.0934,32.9070,63.95,36,0,7.14,EG,2021-12-07 01:28:18
12,12,Arraial Do Cabo,-22.9661,-42.0278,72.70,88,20,11.34,BR,2021-12-07 01:22:35

In [12]:
preferred_cities_df.count()

City_ID       266
City          266
Lat           266
Lng           266
Max Temp      266
Humidity      266
Cloudiness    266
Wind Speed    266
Country       265
Date          266
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1         Kavaratti      IN     80.10  10.5669   72.6420
2            Atuona      PF     79.12  -9.8000 -139.0333
3             Vaini      TO     80.76 -21.2000 -175.2000
4          Bocaiuva      BR     67.71 -17.1078  -43.8150
5           Rikitea      PF     76.60 -23.1203 -134.9692
6         Hithadhoo      MV     82.09  -0.6000   73.0833
7          Chau Doc      VN     72.82  10.7000  105.1167
8          Tessalit      ML     66.31  20.1986    1.0114
11            Aswan      EG     63.95  24.0934   32.9070
12  Arraial Do Cabo      BR     72.70 -22.9661  -42.0278

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kavaratti,IN,80.10,10.5669,72.6420,Hotels in Lakshadweep Islands
2,Atuona,PF,79.12,-9.8000,-139.0333,Villa Enata
3,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
4,Bocaiuva,BR,67.71,-17.1078,-43.8150,Hotel Maxim's
5,Rikitea,PF,76.60,-23.1203,-134.9692,People ThankYou
6,Hithadhoo,MV,82.09,-0.6000,73.0833,Scoop Guest House
7,Chau Doc,VN,72.82,10.7000,105.1167,JADE AND SAPPHIRE GUESTHOUSE
8,Tessalit,ML,66.31,20.1986,1.0114,
11,Aswan,EG,63.95,24.0934,32.9070,Nuba Nile
12,Arraial Do Cabo,BR,72.70,-22.9661,-42.0278,Pousada Porto Praia

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

KeyError: 'column1'

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))